html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 1em; }

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  background: #FAE1DF; }

p {
  font-family: 'Dosis', sans-serif;
  margin-bottom: 1.3em;
  word-spacing: 0.15em; }

h1, h2, h3, h4 {
  font-family: 'Dosis', sans-serif;
  margin: 0.4em 0 0.4em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-size: 3.157em; }
  @media screen and (max-width: 850px) {
    h1 {
      font-size: 2.074em; } }
  @media screen and (max-width: 428px) {
    h1 {
      font-size: 1.602em; } }

h2 {
  font-size: 2.369em; }
  @media screen and (max-width: 850px) {
    h2 {
      font-size: 1.728em; } }
  @media screen and (max-width: 428px) {
    h2 {
      font-size: 1.424em; } }

h3 {
  font-size: 1.777em; }
  @media screen and (max-width: 850px) {
    h3 {
      font-size: 1.44em; } }
  @media screen and (max-width: 428px) {
    h3 {
      font-size: 1.266em; } }

h4 {
  font-size: 1.333em; }
  @media screen and (max-width: 850px) {
    h4 {
      font-size: 1.2em; } }
  @media screen and (max-width: 428px) {
    h4 {
      font-size: 1.125em; } }

small, .font_small {
  font-size: 0.75em; }

a, a:hover, a:visited {
  text-decoration: none;
  color: #130303; }

body {
  margin: 0;
  padding: 0; }

.nav-menu {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  background: #130303;
  color: white; }
  .nav-menu::after {
    clear: both;
    content: "";
    display: table; }

.site-title {
  color: white;
  font-family: 'Courgette', cursive;
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  text-align: center;
  padding: 0.25em 0;
  font-size: 3.157em; }
  .site-title:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .site-title {
      font-size: 2.074em; } }
  @media screen and (max-width: 428px) {
    .site-title {
      font-size: 1.602em; } }

.about, .login {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.3333333333%;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
  background: #52B2CF;
  color: #130303;
  font-size: 1.333em; }
  .about:last-child, .login:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .about, .login {
      font-size: 1.2em; } }
  @media screen and (max-width: 428px) {
    .about, .login {
      font-size: 1.125em; } }

.about:hover, .login a:hover {
  color: #FAE1DF; }

.outer-container {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
  .outer-container::after {
    clear: both;
    content: "";
    display: table; }

.page-title {
  text-align: center; }

.hero {
  text-align: center;
  font-size: 3.157em;
  background: #3B1F2B;
  color: #FAE1DF; }

.field {
  text-align: center;
  margin: 1em 0;
  font-size: 1.777em; }
  @media screen and (max-width: 850px) {
    .field {
      font-size: 1.44em; } }
  @media screen and (max-width: 428px) {
    .field {
      font-size: 1.266em; } }
  .field input {
    font-size: 1.266em; }

#new_user > div.actions > input[type="submit"] {
  font-size: 1.777em; }
  @media screen and (max-width: 850px) {
    #new_user > div.actions > input[type="submit"] {
      font-size: 1.44em; } }
  @media screen and (max-width: 428px) {
    #new_user > div.actions > input[type="submit"] {
      font-size: 1.266em; } }

.about-content {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.3333333333%;
  margin-left: 8.3333333333%; }
  .about-content:last-child {
    margin-right: 0; }

.title, .links {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  text-align: center; }
  .title:last-child, .links:last-child {
    margin-right: 0; }

#countdown {
  margin: 0 auto;
  width: 290px;
  height: 290px;
  margin-top: 0.5em;
  text-align: center;
  background: #DE3C4B;
  border-radius: 50%;
  padding: 6em; }
  #countdown #counter {
    font-size: 3.157em;
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%; }
    #countdown #counter:last-child {
      margin-right: 0; }
  #countdown #control {
    font-size: 2.074em; }

.ingredients {
  text-align: center;
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  margin-left: 25.0%; }
  .ingredients:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .ingredients {
      float: left;
      display: block;
      margin-right: 0%;
      width: 66.6666666667%;
      margin-left: 16.6666666667%; }
      .ingredients:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 428px) {
    .ingredients {
      float: left;
      display: block;
      margin-right: 0%;
      width: 87.5%;
      margin-left: 12.5%; }
      .ingredients:last-child {
        margin-right: 0; } }

.brewtime, .coffee, .water {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.3333333333%; }
  .brewtime:last-child, .coffee:last-child, .water:last-child {
    margin-right: 0; }
  @media screen and (max-width: 850px) {
    .brewtime, .coffee, .water {
      float: left;
      display: block;
      margin-right: 0%;
      width: 33.3333333333%; }
      .brewtime:last-child, .coffee:last-child, .water:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 428px) {
    .brewtime, .coffee, .water {
      float: left;
      display: block;
      margin-right: 0%;
      width: 25%; }
      .brewtime:last-child, .coffee:last-child, .water:last-child {
        margin-right: 0; } }

.source {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  text-align: center; }
  .source:last-child {
    margin-right: 0; }

ul {
  padding: 0; }
  ul li {
    color: #130303;
    text-align: center;
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%; }
    ul li:last-child {
      margin-right: 0; }
    ul li:nth-child(4n) {
      margin-right: 0; }
    ul li:nth-child(4n+1) {
      clear: left; }
    @media screen and (max-width: 850px) {
      ul li {
        float: left;
        display: block;
        margin-right: 0%;
        width: 50%; }
        ul li:last-child {
          margin-right: 0; }
        ul li:nth-child(2n) {
          margin-right: 0; }
        ul li:nth-child(2n+1) {
          clear: left; } }
    @media screen and (max-width: 428px) {
      ul li {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        ul li:last-child {
          margin-right: 0; }
        ul li:nth-child(1n) {
          margin-right: 0; }
        ul li:nth-child(1n+1) {
          clear: left; } }

.recipe-list {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
  .recipe-list::after {
    clear: both;
    content: "";
    display: table; }

.recipes {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .recipes:last-child {
    margin-right: 0; }

.recipe {
  margin: 0.5em;
  background: #DE3C4B;
  padding: 2.5em; }

.recipe:hover {
  background: #52B2CF;
  color: #FAE1DF; }

.new-recipe {
  margin: 0.5em;
  background: #3B1F2B;
  padding: 3.5em; }
  .new-recipe a {
    color: #FAE1DF; }
  .new-recipe a:hover {
    background: #52B2CF; }

.new-recipe:hover {
  background: #52B2CF; }
